<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>일정관리시스템 :: 대시보드</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/dashboardPage/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/dashboardPage/schedule/scheduleModal.css">
    <link rel="stylesheet" href="/stylesheets/dashboardPage/todoList.css">
    <script src="../javaScripts/dashboard/dashboard.js"></script>
</head>
<body>
<header>
    <%- include('../layout/header.ejs'); %>
</header>
<!--<button id="newSchedule" onclick="scheduleModalOpen()">새로운 일정 추가</button>-->
<div style="width: 100%;height: 50px; background-color: white"></div>
<!--<div class="todayScheduleChart">-->
<!--    <% let completeRate = ((completeSchedule.length/(readySchedule.length + completeSchedule.length)) * 100).toFixed(1)%>-->
<!--    <%if(completeRate === "NaN") completeRate = 0;%>-->
<!--    <div class="todayScheduleChartBox"><p>완료률</p><div style="width: 97%; display: flex; border-radius: 10px;background-color: rgba(235,235,235,1);"><div class="completeBar" id="completeBar" style="width: <%=completeRate%>%"><%=completeRate%>%</div></div></div>-->
<!--</div>-->
<div id="indexWrap" class="container">
    <div id="indexLeft" class="mainIndex">
        <div id="indexLeft-top">
            <%- include('./chartArea.ejs')%>
            <%- include('./todoList.ejs') %>
        </div>
        <%- include('./feed.ejs') %>
    </div>
    <div style="width: 66%; height: 100%;float:right;padding: 0 10px 10px 10px;">
    <div id="indexRight" class="mainIndex">
        <%- include('./scheduleScreen.ejs') %>
    </div>
    </div>
</div>

<%- include('../schedule/scheduleModal.ejs')%>
<%- include('../feed/feedModal.ejs') %>
<script defer src="../javaScripts/schedule/scheduleModal.js"></script>
<script defer src="../javaScripts/schedule/scheduleEdit.js"></script>

</body>
</html>