<!--
    담당자 : 강재민, 김건희
    파일설명 : 대시보드 페이지 레이아웃 구성, 페이지 전체 렌더를 위한 파일
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>일정관리시스템 :: 대시보드</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/dashboardPage/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/dashboardPage/schedule/scheduleModal.css">
    <link rel="stylesheet" href="/stylesheets/dashboardPage/todoList.css">
    <script defer src="../javascripts/dashboard/dashboard.js"></script>
    <script defer src="../javascripts/schedule/scheduleModal.js"></script>
    <script defer src="../javascripts/schedule/scheduleEdit.js"></script>
</head>
<body>
<div id="replaceBody">
<header>
    <%- include('../layout/header.ejs'); %>
</header>

<div id="indexWrap" class="container">
    <div style="display: flex; margin-left: 20px; width: 40%;padding: 0 10px 0px 0px;height: 83%; margin-top: 25px;">
    <div id="indexLeft" class="mainIndex">
        <div id="indexLeft-top">
            <%- include('./chartArea.ejs')%>
            <%- include('./todoList.ejs') %>
        </div>
        <%- include('./feed.ejs') %>
    </div>
    <div style="width: 66%; margin-right: 20px; height: 100%;float:right;padding: 0 0px 0px 10px; overflow: hidden; margin-top: 25px;">
    <div id="indexRight" class="mainIndex scrollBox">
        <%- include('./scheduleScreen.ejs') %>
    </div>
    </div>
    </div>
</div>

<%- include('../schedule/scheduleModal.ejs')%>
<%- include('../feed/feedModal.ejs') %>

</div>
</body>
</html>