<link rel="stylesheet" href="/stylesheets/dashboardPage/feed.css">
<div class="feed">
    <div class="styleBox">
        <div class="feedTitleContainer"><img><div class="feedTitle">피드</div></div>
        <div class="feedSelectContainer">
            <form onsubmit="createFeed()">
                <input type="text" id="feedContentsInput">
                <div class="btn-secondary" type="submit" onclick="createFeed();">확인</div>
            </form>
        </div>
        <div class="scrollBox feedListArea">
        <div class="feedArea" id="feedArea">
            <%feed.map((f) => {%>
            <div class="feedContentContainer" id="<%=f._id%>">
                <div class="feedTitleArea">
                    <div style="display: flex; align-items: center">
                        <img class="feedProfilePhoto" src="<%=f.feedWriter.profilePhoto%>"/>
                        <h4><%=f.feedWriter.name%></h4>
                    </div>
                    <div class="feedControlBox">
                        <img class="feedDeleteBtn" src="/images/trash.png" style="width: 15px; height: 15px;" onclick="deleteFeed('<%=f._id%>')"/>
                    </div>
                </div>
                <div class="feedContents">
                    <p><%=f.feedContents%></p>
                </div>
            </div>
            <%});%>
        </div>
        </div>
    </div>
</div>

<script src="../javascripts/dashboard/feed.js"></script>