<%
function dateFormatter(date){
    let today = new Date();
    let inputDate = new Date(date)
    let offset = today.getTimezoneOffset() * 60000
    let DateOffset = new Date(inputDate.getTime() - offset);

    let dateString = DateOffset.toISOString().slice(0, 16).replace("T", " ")

    return dateString;
}
%>
<link rel="stylesheet" href="/stylesheets/dashboardPage/feed.css">
<div class="feed">
    <div class="styleBox">
        <div class="feedTitleContainer">
            <img>
            <div class="feedTitle"><a href="/feed" style="text-decoration: none; color: black">피드</a></div>
            <img src="images/category/edit.png" class="createFeedImg" style="" onclick="feedModalOpen()">
        </div>
        <div class="feedArea scrollBox" id="feedArea">
            <%feed.map((f) => {%>
            <div class="feedContentContainer" id="<%=f._id%>">
                <div class="feedTitleArea">
                    <div style="display: flex; align-items: center">
                        <img class="feedProfilePhoto" src="<%=f.feedWriter.profilePhoto%>"/>
                        <h4><%=f.feedWriter.name%></h4>
                    </div>
                </div>
                <div class="feedContents">
                    <p><%=f.feedContents%></p>
                </div>
                <div class="feedFooter">
                    <img class="feedFooterIcon" src="images/chat.png" >
                    <span style="margin-left: 3px;"><%=f.comments.length%></span>
                    <% if(f.schedule){%>
                    <img class="feedFooterIcon" src="images/calendar.png" style="width: 12px; height: 12px; opacity: 0.3;margin-left: 10px;">
                    <div style="display: flex; align-items: center">
                        <div class="listIcon"></div>
                        <span style="margin-left: 5px;" id="selectedSchedule_<%=f._id%>"><%=f.schedule.title%></span>
                    </div>
                    <%}%>
                    <img class="feedFooterIcon" src="images/clock.png" style="margin-left: 10px; margin-right: 5px">
                    <span style="opacity: 0.4; font-size: 12px"><%=dateFormatter(f.createDate)%></span>
                </div>
            </div>
            <%});%>
        </div>
        </div>
    </div>
</div>

<script src="../javascripts/dashboard/feed.js"></script>
<script src="../javascripts/feed/feedModal.js"></script>