<link rel="stylesheet" href="/stylesheets/dashboardPage/feed.css">
<div class="feed">
    <div class="styleBox">
        <div class="feedTitleContainer">
            <img>
            <div class="feedTitle">피드</div>
            <img src="images/category/edit.png" class="createFeedImg" style="" onclick="feedModalOpen()">
        </div>
        <div class="feedArea scrollBox" id="feedArea">
            <%feed.map((f) => {%>
            <div class="feedContentContainer" id="<%=f._id%>">
                <div class="feedTitleArea">
                    <div style="display: flex; align-items: center">
                        <img class="feedProfilePhoto" src="<%=f.feedWriter.profilePhoto%>"/>
                        <h4><%=f.feedWriter.name%></h4>
                    </div>
                    <div class="feedControlBox">
                        <img class="feedDeleteBtn" src="/images/trash.png" style="width: 15px; height: 15px;" onclick="deleteFeed('<%=f._id%>')"/>
                    </div>
                </div>
                <div class="feedContents">
                    <p><%=f.feedContents%></p>
                </div>
                <div style="display: flex; align-items: center; margin-left: 10px; margin-bottom: 10px;">
                    <img src="images/chat.png" style="width: 12px; height: 12px; opacity: 0.3;">
                    <span style="margin-left: 3px;">3</span>
                    <img src="images/calendar.png" style="width: 12px; height: 12px; opacity: 0.3;margin-left: 10px;">
                    <div style="display: flex; align-items: center">
                        <div class="listIcon"></div>
                        <span style="margin-left: 5px;"><%=f.schedule.title%></span>
                    </div>
                </div>
            </div>
            <%});%>
        </div>
    </div>
</div>

<script src="../javascripts/dashboard/feed.js"></script>
<script src="../javascripts/feed/feedModal.js"></script>