<div style="width: 100%; height: 40px; padding: 5px; line-height: 50px; font-size: 18px; font-weight: 600; margin-left: 10px; align-items: center">
    하루일과
    <button class="btn-secondary" onclick="scheduleModalOpen();" style="float: right; right: 10px">일정 생성</button>
</div>
<div style="display: flex">
    <div style="display: flex; width: 50%">
    <div class="dashboardScheduleContainer">
        <div class="dashboardScheduleWrap" style="background-color: #eebbfe;">
            <div style="align-items: center; width: 85%; display: flex"><h3>공유받은 오늘일정</h3>
                <p><%= sharedSchedule.length %></p></div>
            <% sharedSchedule.map((s) => { %>
                <div class="dashboardScheduleBox" onclick="scheduleDetailModalOpen('<%= s._id %>')">
                    <div class="titleBox">
                        <% if(s.complete){ %>
                            <img class="completeImg" src="images/complete.png">
                        <% } else { %>
                            <img class="completeImg" src="images/ready.png">
                        <% } %>
                        <span><%= s.title %></span>
                    </div>
                    <div class="dateBox">
                        <div class="dashboardScheduleStartDay"><%= new Date(s.date.startDate).toISOString().replace('T', ' ').substring(0, 16) %>
                            ~ <%= new Date(s.date.endDate).toISOString().replace('T', ' ').substring(0, 16) %>
                        </div>
                    </div>
                    <div id="dashboardScheduleImageContainer"><img src="<%= s.scheduleWriter.profilePhoto %>"><span
                                id="userNameContainer"><%= s.scheduleWriter.name %></span></div>
                </div>
            <% }); %>
        </div>
    </div>
    <div class="dashboardScheduleContainer">
        <div class="dashboardScheduleWrap" style="background-color: #fcecb9;">
            <div style="width: 85%;align-items: center; display: flex;"><h3>오늘일정</h3>
                <p><%= readySchedule.length + completeSchedule.length %></p></div>
            <% readySchedule.map((s) => { %>
            <div class="dashboardScheduleBox"
                 onclick="event.stopImmediatePropagation(); scheduleDetailModalOpen('<%= s._id %>')">
                <div class="titleBox">
                    <div onclick="event.stopImmediatePropagation();"><img class="completeImg" id="icon_all_<%= s._id %>"
                                                                          src="images/ready.png" style="cursor: pointer"
                                                                          onclick="changeComplete('<%= s._id %>', true),event.stopImmediatePropagation();">
                    </div>
                    <span><%= s.title %></span>
                </div>
                <div class="dateBox">
                    <div class="dashboardScheduleStartDay"><%= new Date(s.date.startDate).toISOString().replace('T', ' ').substring(0, 16) %>
                        ~<%= new Date(s.date.endDate).toISOString().replace('T', ' ').substring(0, 16) %>
                    </div>
                </div>
                <div class="dashbo"></div>
            </div>
            <% }); %>
            <% completeSchedule.map((s) => { %>
            <div class="dashboardScheduleBox" onclick="scheduleDetailModalOpen('<%= s._id %>')">
                <div class="titleBox">
                    <div onclick="event.stopImmediatePropagation();"><img class="completeImg" id="icon_all_<%= s._id %>"
                                                                          src="images/complete.png"
                                                                          style="cursor: pointer"
                                                                          onclick="changeComplete('<%= s._id %>', false),event.stopImmediatePropagation();">
                    </div>
                    <span><%= s.title %></span>
                </div>
                <div class="dateBox">
                    <div class="dashboardScheduleStartDay"><%= new Date(s.date.startDate).toISOString().replace('T', ' ').substring(0, 16) %>
                        ~ <%= new Date(s.date.endDate).toISOString().replace('T', ' ').substring(0, 16) %>
                    </div>
                </div>
                <!--        <div id="dashboardScheduleImageContainer"><img src="<%= user.profilePhoto %>"><span id="userNameContainer"><%= user.name %></span></div>-->
            </div>
            <% }); %>
        </div>
    </div>
    </div>
    <div style="display: flex;width: 50%">
    <div class="dashboardScheduleContainer readyArea" ondragover="dragover_handler(event);"
         ondrop="completeToReadyDrop(event);">
        <div class="dashboardScheduleWrap" id="completeArea" style="background-color: #b9e8fc;">
            <div style="width: 85%;align-items: center; display: flex"><h3>미완료</h3>
                <p id="readyScheduleCount"><%= readySchedule.length %></p></div>
            <% readySchedule.map((s) => { %>
            <div class="dashboardScheduleBox readyBox" id="<%= s._id %>" draggable="true"
                 ondragstart="readyDragStart(event);" onclick="scheduleDetailModalOpen('<%= s._id %>')">
                <div class="titleBox">
                    <div onclick="event.stopImmediatePropagation();"><img class="completeImg" id="icon_<%= s._id %>"
                                                                          src="images/ready.png" style="cursor: pointer"
                                                                          onclick="changeComplete('<%= s._id %>', true),event.stopImmediatePropagation();">
                    </div>
                    <span><%= s.title %></span>
                </div>
                <div class="dateBox">
                    <div class="dashboardScheduleStartDay"><%= new Date(s.date.startDate).toISOString().replace('T', ' ').substring(0, 16) %>
                        ~ <%= new Date(s.date.endDate).toISOString().replace('T', ' ').substring(0, 16) %>
                    </div>
                </div>
                <!--            <div id="dashboardScheduleImageContainer"><img src="<%= user.profilePhoto %>"><span id="userNameContainer"><%= user.name %></span></div>-->
            </div>
            <% }); %>
        </div>
    </div>

    <div class="dashboardScheduleContainer completeArea" ondragover="dragover_handler(event);"
         ondrop="readyToCompleteDrop(event);">
        <div class="dashboardScheduleWrap" id="readyArea" style="background-color: #c2fdb9;">
            <div style="width: 85%;align-items: center; display: flex"><h3>완료</h3>
                <p id="completeScheduleCount"><%= completeSchedule.length %></p></div>
            <% completeSchedule.map((s) => { %>
            <div class="dashboardScheduleBox completeBox" id="<%= s._id %>" draggable="true"
                 ondragstart="readyDragStart(event);" onclick="scheduleDetailModalOpen('<%= s._id %>')">
                <div class="titleBox">
                    <div onclick="event.stopImmediatePropagation();"><img class="completeImg" id="icon_<%= s._id %>"
                                                                          src="images/complete.png"
                                                                          style="cursor: pointer"
                                                                          onclick="changeComplete('<%= s._id %>', false),event.stopImmediatePropagation();">
                    </div>
                    <span><%= s.title %></span>
                </div>
                <div class="dateBox">
                    <div class="dashboardScheduleStartDay"><%= new Date(s.date.startDate).toISOString().replace('T', ' ').substring(0, 16) %>
                        ~<%= new Date(s.date.endDate).toISOString().replace('T', ' ').substring(0, 16) %></div>
                </div>
                <!--            <div id="dashboardScheduleImageContainer"><img src="<%= user.profilePhoto %>"><span id="userNameContainer"><%= user.name %></span></div>-->
            </div>
            <% }); %>
        </div>
    </div>
    </div>

</div>