<div class="dashboardScheduleContainer">
<div class="dashboardScheduleWrap" style="background-color: #fcecb9;">
    <div style="align-items: center; display: flex">오늘일정<p><%=readySchedule.length + completeSchedule.length%></p><p>사용자 지정 순</p><img/></div>
    <%readySchedule.map((s) => {%>
        <div class="dashboardScheduleBox" onclick="scheduleDetailModalOpen('<%=s._id%>')">
            <div class="titleBox">
                <img class="completeImg" id="icon_all_<%=s._id%>" src="images/ready.png" style="cursor: pointer" onclick="changeComplete('<%=s._id%>', true)">
                <span><%=s.title%></span>
            </div>
            <div class="dateBox">
                <div class="dashboardScheduleStartDay"><%=new Date(s.date.startDate).toISOString().replace('T',' ').substring(0,16)%></div>
                <div style="line-height: 15px">~</div><div class="dashboardScheduleStartDay"> <%=new Date(s.date.endDate).toISOString().replace('T',' ').substring(0,16)%>
                </div>
            </div>
        </div>
    <%});%>
    <%completeSchedule.map((s) => {%>
    <div class="dashboardScheduleBox" onclick="scheduleDetailModalOpen('<%=s._id%>')">
        <div class="titleBox">
            <img class="completeImg" id="icon_all_<%=s._id%>" src="images/complete.png" style="cursor: pointer" onclick="changeComplete('<%=s._id%>', false)">
            <span><%=s.title%></span>
        </div>
        <div class="dateBox">
            <div class="dashboardScheduleStartDay"><%=new Date(s.date.startDate).toISOString().replace('T',' ').substring(0,16)%></div>
            <div style="line-height: 15px">~</div><div class="dashboardScheduleStartDay"> <%=new Date(s.date.endDate).toISOString().replace('T',' ').substring(0,16)%>
            </div>
        </div>
    </div>
    <%});%>
</div>
</div>

<div class="dashboardScheduleContainer readyArea" ondragover="dragover_handler(event);" ondrop="completeToReadyDrop(event);">
    <div class="dashboardScheduleWrap" id="completeArea" style="background-color: #b9e8fc;">
        <div style="align-items: center; display: flex">미완료<p id="readyScheduleCount"><%=readySchedule.length%></p><p>사용자 지정 순</p><img/></div>
        <%readySchedule.map((s) => {%>
        <div class="dashboardScheduleBox readyBox" id="<%=s._id%>" draggable="true" ondragstart="readyDragStart(event);" onclick="scheduleDetailModalOpen('<%=s._id%>')">
            <div class="titleBox">
                <img class="completeImg" id="icon_<%=s._id%>" src="images/ready.png" style="cursor: pointer" onclick="changeComplete('<%=s._id%>', true)">
                <span><%=s.title%></span>
            </div>
            <div class="dateBox">
                <div class="dashboardScheduleStartDay"><%=new Date(s.date.startDate).toISOString().replace('T',' ').substring(0,16)%></div>
                <div style="line-height: 15px">~</div><div class="dashboardScheduleStartDay"> <%=new Date(s.date.endDate).toISOString().replace('T',' ').substring(0,16)%>
                </div>
            </div>
        </div>
        <%});%>
    </div>
</div>

<div class="dashboardScheduleContainer completeArea" ondragover="dragover_handler(event);" ondrop="readyToCompleteDrop(event);">
    <div class="dashboardScheduleWrap" id="readyArea" style="background-color: #c2fdb9;">
        <div style="align-items: center; display: flex">완료<p id="completeScheduleCount"><%=completeSchedule.length%></p><p>사용자 지정 순</p><img/></div>
        <%completeSchedule.map((s) => {%>
        <div class="dashboardScheduleBox completeBox" id="<%=s._id%>" draggable="true" ondragstart="readyDragStart(event);" onclick="scheduleDetailModalOpen('<%=s._id%>')">
            <div class="titleBox">
                <img class="completeImg" id="icon_<%=s._id%>" src="images/complete.png" style="cursor: pointer" onclick="changeComplete('<%=s._id%>', false)">
                <span><%=s.title%></span>
            </div>
            <div class="dateBox">
                <div class="dashboardScheduleStartDay"><%=new Date(s.date.startDate).toISOString().replace('T',' ').substring(0,16)%></div>
                <div style="line-height: 15px">~</div><div class="dashboardScheduleStartDay"> <%=new Date(s.date.endDate).toISOString().replace('T',' ').substring(0,16)%>
                </div>
            </div>
        </div>
        <%});%>
    </div>
</div>

<div class="dashboardScheduleContainer">
    <div class="dashboardScheduleWrap" style="background-color: #eebbfe;">
        <div style="align-items: center; display: flex">공유받은 오늘일정<p><%=sharedSchedule.length%></p><p>사용자 지정 순</p><img/></div>
        <%sharedSchedule.map((s) => {%>
        <div class="dashboardScheduleBox" onclick="scheduleDetailModalOpen('<%=s._id%>')">
            <div class="titleBox">
                <%if(s.complete){%>
                    <img class="completeImg" src="images/complete.png">
                <%} else {%>
                    <img class="completeImg" src="images/ready.png">
                <%}%>
                <span><%=s.title%></span>
                <span> : <%=s.scheduleWriter.name%></span>
            </div>
            <div class="dateBox">
                <div class="dashboardScheduleStartDay"><%=new Date(s.date.startDate).toISOString().replace('T',' ').substring(0,16)%></div>
                <div style="text-align: center">~</div><div class="dashboardScheduleStartDay"> <%=new Date(s.date.endDate).toISOString().replace('T',' ').substring(0,16)%>
                </div>
            </div>
        </div>
        <%});%>
    </div>
</div>