<!-------------------------------------------------------
    담당자 : 김건희
    역할 : 1. Navbar 영역 및 컨테이너 내부 배치
---------------------------------------------------------->
<link rel="stylesheet" href="/stylesheets/layout/header.css"/>
<script defer src='javascripts/layout/header.js'></script>
<div class="header">
    <div id="headerContainer" class="headercontainer" style="background-color: <%= user.navBgColor %>">
        <div id="browse-category">
            <div id="movePageText">
                <img id="hamburgerToggle" src="images/layoutHeader/hamburgerblack.png"/>
            </div>
        </div>
        <%- include("movePageModal") %>
        <a href="/" style="text-decoration: none; display: flex; line-height: 80px; font-size: 20px; align-items: center">
            <img id="logo" src="../../images/layoutHeader/heaventreeLogo.png"/>
        </a>
        <ul id="headerUserBox">
            <% if(user.provider === "naver"){ %>
                <img id="changeLogo" src="../../images/layoutHeader/btnG_아이콘원형.png"/>
            <% } else if(user.provider === "kakao"){ %>
                <img id="changeLogo" src="../../images/layoutHeader/kakao_logo.png"/>
            <% } %>
            <img id="profilePhoto" src="<%= user.profilePhoto %>"/>
            <p id="userInfo"><%= user.name %></p>
            <div style="position: relative;">
                <label id="navBarColor" for="bgColor">
                    <img id="show" onclick="blockColorOption()" src="../../images/layoutHeader/painterBlack.png"/>
                    <%- include('blockColorOption')%>
                </label>

            </div>
            <a href="/login/logout" id="logout" class="headerbutton" type="button">LogOut</a>
        </ul>

    </div>
</div>
