<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/calendarPage/calendarPage.css"/>
    <link rel="stylesheet" href="/stylesheets/calendarPage/chooseSharer.css"/>
    <link rel="stylesheet" href="/stylesheets/calendarPage/sharedDirectory.css"/>

    <script defer src="javascripts/category/newCategory.js"></script>
    <script defer src="javascripts/category/chooseSharer.js"></script>
    <script defer src="javascripts/category/myCategory.js"></script>
    <script defer src="javascripts/category/sharedDirectory.js"></script>
</head>
<body>

<header>
    <%- include('../layout/header.ejs'); %>
</header>
<script>
    window.onload = function(){
        document.getElementById('browse-category').innerText = 'Calendar';
    }
</script>
<div id="indexWrap" class="container">
    <div id="indexLeft" class="mainIndex">
        <%- include('category.ejs'); %>
    </div>
    <div id="indexRight" class="mainIndex">
        <%- include('calendar.ejs'); %>
    </div>
</div>
<div id="modalOpenBtn" onclick="sharedDirectoryModalOpen();"></div>
<div>
    <%- include('../category/sharedDirectory.ejs')%>
</div>
<div>
    <%- include('../category/categorychildModal1.ejs')%>
</div>
<%- include('../category/newCategory.ejs')%>
<%- include('../category/chooseSharer.ejs')%>
<%- include('../schedule/scheduleModal.ejs')%>
</body>
</html>