<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>일정관리시스템 :: 캘린더</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/calendarPage/calendarPage.css"/>
    <link rel="stylesheet" href="/stylesheets/calendarPage/chooseSharer.css"/>
    <link rel="stylesheet" href="/stylesheets/calendarPage/sharedDirectory.css"/>
    <link rel="stylesheet" href="/stylesheets/calendarPage/category/newCategory.css"/>
    <link rel="stylesheet" href="/stylesheets/calendarPage/calendar/calendar.css"/>
    <link rel='stylesheet' href='stylesheets/calendarPage/calendar/fullCalendar.css'  />
    <link rel="stylesheet" href="/stylesheets/dashboardPage/schedule/scheduleModal.css">

    <script defer src="javascripts/category/newCategory.js"></script>
    <script defer src="javascripts/category/chooseSharer.js"></script>
    <script defer src="javascripts/category/myCategory.js"></script>
    <script defer src="javascripts/category/sharedDirectory.js"></script>
    <script src="javascripts/calendar/calendar.js"></script>
    <script defer src="javascripts/calendar/dayClickModal.js"></script>
    <script src='javascripts/calendar/fullCalendar.js'></script>
    <script defer src="javascripts/schedule/scheduleModal.js"></script>
    <script defer src="javascripts/schedule/scheduleEdit.js"></script>
    <script defer src="javascripts/toastMessage.js"></script>
</head>
<body>
<header>
    <%- include('../layout/header.ejs'); %>
</header>
<div id="indexWrap" class="container">
    <%- include('../calendarPage/dayClickModal.ejs')%>
    <div id="indexLeft" class="mainIndex">
        <%- include('category.ejs'); %>
    </div>
    <div id="indexRight" class="mainIndex">
        <div class="scrollBox" style="height: 100%; width: 100%">
            <div id='calendar'></div>
        </div>
    </div>
</div>
<!--<div id="toast"></div>-->
<!--<div id="modalOpenBtn" onclick="sharedDirectoryModalOpen();"><img src="images/category/shardfolder.png" onclick="sharedDirectoryModalOpen();"/></div>-->
<%- include('../category/sharedDirectory.ejs')%>
<%- include('../category/newCategory.ejs')%>
<%- include('../category/chooseSharer.ejs')%>
<%- include('../schedule/scheduleModal.ejs')%>
</body>
</html>