<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/calendarPage/category/category.css"/>
    <link rel="stylesheet" href="/stylesheets/calendarPage/category/newCategory.css"/>
</head>
<body>
    <div id="categoryButtonContainer">
        <button class="btn-secondary" onclick="newCategoryModalOpen();">카테고리 생성</button>
        <button class="btn-secondary" onclick="scheduleModalOpen();">일정 생성</button>
    </div>
    <% myCategories.map((category) => {%>
    <div id="categoryContainer">
        <div id="shareobject">
            <div id="categoryNameGroup">
                <p><%=category.categoryName%></p>
            </div>
            <div id="tagGroup">
<!--                <img src="images/icon-tag.png" style="width: 12px; height: 12px;">-->
                <% category.tags.map((tag) => {%>
                    <span style="background-color: #f9f9f9"><%=tag.tagName%></span>
                <%})%>
            </div>
            <div id="providerGroup">
<!--                <img src="images/icon-share.png" style="width: 12px; height: 12px;">-->
                <% category.sharer.map((user) => {%>
                    <img src="<%=user.profilePhoto%>" style="width: 18px; height: 18px; border-radius: 70%">
                <%})%>
            </div>
        </div>

        <div id="categoryControlArea">
<!--            <div id="moreButton" onclick="moreButton();"></div>-->
            <img src="/images/category/edit.png" class="categoryControl" id="categoryEdit" onclick='categoryEditModalOpen(<%=JSON.stringify(category)%>)'>
            <img src="/images/category/delete.png" class="categoryControl" id="categoryDelete" onclick='categoryDelete("<%=category._id%>")'>
        </div>
    </div>
    <%})%>

</body>
</html>