<link rel="stylesheet" href="/stylesheets/calendarPage/category/category.css"/>
<div id="categoryButtonContainer">
    <button class="btn-secondary" onclick="newCategoryModalOpen();">카테고리 생성</button>
    <button class="btn-secondary" onclick="scheduleModalOpen();">일정 생성</button>
    <button id="modalOpenBtn" class="btn-secondary" onclick="sharedDirectoryModalOpen();">공유함</button>
</div>
<div class="categoryContents" style="width: 100%">
<% myCategories.map((category) => {%>
<div id="categoryContainer">
    <div id="shareobject">
        <div id="categoryNameGroup" onclick="myCategorySelect(<%=JSON.stringify(category)%>)">
            <p><%=category.categoryName%></p>
        </div>
        <div id="tagGroup">
<!--                <img src="images/icon-tag.png" style="width: 12px; height: 12px;">-->
            <% category.tags.map((tag) => {%>
                <span style="background-color: #f9f9f9"><%=tag.tagName%></span>
            <%})%>
        </div>
        <div id="providerGroup">
<!--                <img src="images/icon-share.png" style="width: 12px; height: 12px;">-->

            <% category.sharer.map((user) => {%>
            <div id="imageContainer"><img src="<%=user.profilePhoto%>"><span id="userNameContainer"><%=user.name%></span></div>
            <%})%>

        </div>
    </div>

    <div id="categoryControlArea">
<!--            <div id="moreButton" onclick="moreButton();"></div>-->
        <img src="/images/category/edit.png" class="categoryControl" id="categoryEdit" onclick='categoryEditModalOpen(<%=JSON.stringify(category)%>)'>
        <img src="/images/category/delete.png" class="categoryControl" id="categoryDelete" onclick='categoryDelete("<%=category._id%>")'>
    </div>
</div>
<%})%>
</div>