<!--
    담당자 : 김건희
    역할 : 각 태그별 갯수 및 퍼센트, 일정들을 보여주는 영역들을 배치

    담당자 : 강재민
    역할 : 데이터 바인딩, 시간 포맷
-->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>일정관리시스템 :: 태그통계</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/tagStatistics/totalScheduleMarkArea.css">
    <link rel="stylesheet" href="/stylesheets/dashboardPage/schedule/scheduleModal.css">

    <script defer src="../javascripts/schedule/scheduleModal.js"></script>
    <script defer src="../javascripts/schedule/scheduleEdit.js"></script>

</head>
<body>
<header>
    <%- include('../layout/header.ejs'); %>
</header>
<%
    function dateFormatter(date){
        let today = new Date();
        let inputDate = new Date(date)
        let offset = today.getTimezoneOffset() * 60000
        let DateOffset = new Date(inputDate.getTime() - offset);

        let dateString = DateOffset.toISOString().slice(0, 16).replace("T", " ")

        return dateString;
    }
%>
<div id="indexWrap" class="container" style="padding-left: 20px; padding-right: 20px;">
    <div id="indexLeft" class="mainIndex">
        <%- include('tagRightPieChartScreen.ejs') %>
        <%- include('tagLeftBarChartScreen.ejs') %>
    </div>
    <div id="indexRight" class="mainIndex">
        <div style="margin-top: 25px; height: 93%; border: 1px rgba(235,235,235,1) solid; overflow: hidden">
        <div id="indexTop">
            <div class="countContainer">
                <div class="countContainer2">총 일정 개수</div>
                <span>:</span>
                <span id="scheduleAllCount">0</span></div>
            <div style="color: rgb(235,235,235,1);">|</div>
            <div class="countContainer">
                <div class="countContainer2">사용한 태그 종류</div>
                <span>:</span>
                <span id="usedTagKindCount">0</span></div>
            <div style="color: rgb(235,235,235,1);">|</div>
            <div class="countContainer">
                <div class="countContainer2">사용한 태그 총 갯수</div>
                <span>:</span>
                <span id="usedTagAllCount">0</span></div>
            <div class="countContainer">
                <div class="countContainer2" id="resetBtn" onclick="reloadSchedule();"><img style="width: 20px; height: 20px;" src="../../images/tagStatistics/resetbutton.png"> </div>
            </div>
        </div>
        <div style="padding: 20px; overflow: hidden;">
            <div class="totalScheduleGroupBox">
                <div class="totalScheduleHeader1" >완료여부</div>
                <div class="totalScheduleHeader1" >제목</div>
                <div class="totalScheduleHeader1" >시작일</div>
                <div class="totalScheduleHeader1" >종료일</div>
            </div>
            <div class="tagStatisticsOverflow scrollBox">
            <div id="tagStatisticsSchedule" >
            <%if(mySchedule.length){%>
            <% mySchedule.map((s) => { %>
            <div class="totalScheduleContentsGroup" onclick="scheduleDetailModalOpen('<%=s._id%>', false)">
                <% if(s.complete){ %>
                    <div class="totalScheduleHeader2"><img src="/images/complete.png" style="width: 15px; height: 15px"></div>
                <% } else { %>
                    <div class="totalScheduleHeader2"><img src="/images/ready.png" style="width: 15px; height: 15px"></div>
                <% } %>
                <div class="totalScheduleHeader2"><%= s.title %></div>
                <div class="totalScheduleHeader2"><%= dateFormatter(s.date.startDate)%></div>
                <div class="totalScheduleHeader2"><%= dateFormatter(s.date.endDate) %></div>
            </div>
            <%});%>
            <%} else {%>
                <div style="display: flex; justify-content: center; align-items: center; width: 100%">
                    <img src="images/noData.png" style="width: 50%; opacity: 0.07">
                </div>
            <%}%>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
<%- include('../schedule/scheduleModal.ejs') %>
<script src="../javascripts/tagStatistics/tagStatistics.js"></script>
</body>
</html>