<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>태그 통계</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/tagStatistics/totalScheduleMarkArea.css">
</head>
<body>
<header>
    <%- include('../layout/header.ejs'); %>
</header>
<div id="indexWrap" class="container" style="padding-left: 20px; padding-right: 20px;">
    <div id="indexLeft" class="mainIndex" >
        <%- include('tagRightPieChartScreen.ejs')%>
        <%- include('tagLeftBarChartScreen.ejs')%>
    </div>
    <div id="indexRight" class="mainIndex">
        <div id="indexTop">
            <div class="countContainer">
                <div class="countContainer2">총 일정 개수</div>
                <span>:</span>
                <span id="scheduleAllCount">0</span></div>
            <div class="countContainer">
                <div class="countContainer2">사용한 태그 종류</div>
                <span>:</span>
                <span id="usedTagKindCount">0</span></div>
            <div class="countContainer">
                <div class="countContainer2">사용한 태그 총 갯수</div>
                <span>:</span>
                <span id="usedTagAllCount">0</span></div>
        </div>
        <div style="padding: 20px">
            <div class="totalScheduleGroupBox">
                <div class="totalScheduleHeader">제목</div><div class="totalScheduleHeader">시작일</div><div class="totalScheduleHeader">종료일</div>
            </div>
            <div id="tagStatisticsSchedule">
            <%mySchedule.map((s) => {%>
            <div>
                <%if(s.complete){%>
                    <img class="completeImg" src="/images/complete.png">
                <%} else {%>
                    <img class="completeImg" src="/images/ready.png">
                <%}%>
                <span><%=s.title%></span>
                <span><%=s.date.startDate%> ~ <%=s.date.endDate%></span>
            </div>
            <%});%>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="../javascripts/tagStatistics/tagStatistics.js"></script>
</body>
</html>