<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>태그 통계</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/tagStatistics/totalScheduleMarkArea.css">
</head>
<body>
<header>
    <%- include('../layout/header.ejs'); %>
</header>
<div id="indexWrap" class="container" style="padding-left: 20px; padding-right: 20px;">
    <div id="indexLeft" class="mainIndex">
        <%- include('tagRightPieChartScreen.ejs') %>
        <%- include('tagLeftBarChartScreen.ejs') %>
    </div>
    <div id="indexRight" class="mainIndex">
        <div id="indexTop">
            <div class="countContainer">
                <div class="countContainer2">총 일정 개수</div>
                <span>:</span>
                <span id="scheduleAllCount">0</span></div>
            <div style="color: rgb(235,235,235,1);">|</div>
            <div class="countContainer">
                <div class="countContainer2">사용한 태그 종류</div>
                <span>:</span>
                <span id="usedTagKindCount">0</span></div>
            <div style="color: rgb(235,235,235,1);">|</div>
            <div class="countContainer">
                <div class="countContainer2">사용한 태그 총 갯수</div>
                <span>:</span>
                <span id="usedTagAllCount">0</span></div>
        </div>
        <div style="padding: 20px">
            <div class="totalScheduleGroupBox">
                <div class="totalScheduleHeader">완료여부</div>
                <div class="totalScheduleHeader">제목</div>
                <div class="totalScheduleHeader">시작일</div>
                <div class="totalScheduleHeader">종료일</div>
            </div>
            <% mySchedule.map((s) => { %>
            <div style="overflow: auto; display: flex; justify-content: space-around; margin-top: 5px;">
                <% if(s.complete){ %>
                    <div class="totalScheduleHeader"><img src="/images/complete.png" style="width: 15px; height: 15px"></div>
                <% } else { %>
                    <div class="totalScheduleHeader"><img src="/images/ready.png" style="width: 15px; height: 15px"></div>
                <% } %>
                <div class="totalScheduleHeader"><%= s.title %></div>
                <div class="totalScheduleHeader"><%= new Date(s.date.startDate).toISOString().replace('T', ' ').substring(0, 16) %></div>
                <div class="totalScheduleHeader"><%= new Date(s.date.endDate).toISOString().replace('T', ' ').substring(0, 16) %></div>
                </span>
            </div>
            <% }); %>
        </div>
    </div>
</div>
</div>
<script src="../javascripts/tagStatistics.js"></script>
</body>
</html>