<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>일정관리시스템 :: 피드</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/feed/feedPage.css">
    <script src="../javascripts/dashboard/feed.js"></script>
    <script src="../javascripts/feed/feedModal.js"></script>
    <script src="../javascripts/feed/feedPage.js"></script>
</head>
<body>
<header>
    <%- include('../layout/header.ejs'); %>
</header>
<div class="feedPageFeedArea">
    <div style="display: flex; justify-content: center;">
        <div class="feedPageTitleArea">
            <span style="font-size: 25px; font-weight: bold">피드</span>
            <button class="btn-primary" style="height: 35px" onclick="feedModalOpen()">새 피드 작성</button>
        </div>
    </div>
    <div class="feedArea scrollBox" id="feedArea">
        <%feed.map((f) => {%>
        <div class="feedContentContainer" id="<%=f._id%>">
            <div class="feedTitleArea">
                <div style="display: flex; align-items: center">
                    <img class="feedProfilePhoto" src="<%=f.feedWriter.profilePhoto%>"/>
                    <h4><%=f.feedWriter.name%></h4>
                </div>
                <div class="feedControlBox">
                    <img class="feedDeleteBtn" src="/images/trash.png" style="width: 15px; height: 15px;" onclick="deleteFeed('<%=f._id%>')"/>
                </div>
            </div>
            <div class="feedContents">
                <p><%=f.feedContents%></p>
            </div>
            <div class="feedFooter">
                <img class="feedFooterIcon" src="images/chat.png" style="width: 12px; height: 12px; opacity: 0.3;">
                <span style="margin-left: 3px;">3</span>
                <img class="feedFooterIcon" src="images/calendar.png" style="width: 12px; height: 12px; opacity: 0.3;margin-left: 10px;">
                <div style="display: flex; align-items: center">
                    <div class="listIcon"></div>
                    <span style="margin-left: 5px;"><%=f.schedule.title%></span>
                </div>
            </div>
            <div class="feedCommentArea">
                <div class="feedCommentBox">
                    <div class="feedCommentWriterProfile">사</div>
                    <span class="feedCommentWriterName">강재민</span>
                    <span class="feedCommentContents">댓글 내용</span>
                </div>
            </div>
            <div class="feedCommentWriteArea">
                <form onsubmit="commentCreate('<%=f._id%>')">
                    <input type="text" id="commentInput_<%=f._id%>">
                    <button type="submit" class="btn-secondary">작성</button>
                </form>
            </div>
        </div>
        <%});%>
    </div>
</div>
<%- include('./feedModal.ejs')%>
</body>
</html>