<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>일정관리시스템 :: 피드</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/feed/feedPage.css">
    <script src="../javascripts/dashboard/feed.js"></script>
    <script src="../javascripts/feed/feedModal.js"></script>
    <script src="../javascripts/feed/feedPage.js"></script>
</head>
<body style="overflow: auto">
<%
    function dateFormatter(date){
        let today = new Date();
        let inputDate = new Date(date)
        let offset = today.getTimezoneOffset() * 60000
        let DateOffset = new Date(inputDate.getTime() - offset);

        let dateString = DateOffset.toISOString().slice(0, 16).replace("T", " ")

        return dateString;
    }
%>
<header>
    <%- include('../layout/header.ejs'); %>
</header>
<div class="feedPageFeedArea">
    <div style="display: flex; justify-content: center;">
        <div class="feedPageTitleArea">
            <span style="font-size: 25px; font-weight: bold">피드</span>
            <button class="btn-primary" style="height: 35px" onclick="feedModalOpen()">새 피드 작성</button>
        </div>
    </div>
    <div class="feedArea scrollBox" id="feedArea">
        <%feed.map((f) => {%>
        <div class="feedContentContainer" id="<%=f._id%>">
            <div class="feedTitleArea">
                <div style="display: flex; align-items: center">
                    <img class="feedProfilePhoto" src="<%=f.feedWriter.profilePhoto%>"/>
                    <h4><%=f.feedWriter.name%></h4>
                </div>
                <% if(f.feedWriter._id.toString() === user._id.toString()){%>
                <div class="feedControlBox">
                    <img class="feedDeleteBtn" src="images/editing.png" onclick="feedEditModalOpen(<%= JSON.stringify(f)%>)">
                    <img class="feedDeleteBtn" src="/images/trash.png" onclick="deleteFeed('<%=f._id%>')"/>
                </div>
                <%}%>
            </div>
            <div class="feedContents" >
                <p id="feedContents_<%=f._id%>"><%=f.feedContents%></p>
            </div>
            <div class="feedFooter">
                <img class="feedFooterIcon" src="images/chat.png" >
                <span id="commentsLength_<%=f._id%>" style="margin-left: 3px;"><%=f.comments.length%></span>
                <% if(f.schedule){%>
                <img class="feedFooterIcon" src="images/calendar.png" style="margin-left: 10px;">
                <div style="display: flex; align-items: center">
                    <div class="listIcon"></div>
                    <span style="margin-left: 5px;" id="selectedSchedule_<%=f._id%>"><%=f.schedule.title%></span>
                </div>
                <%}%>
                <img class="feedFooterIcon" src="images/clock.png" style="margin-left: 10px; margin-right: 5px">
                <span style="opacity: 0.4; font-size: 12px"><%=dateFormatter(f.createDate)%></span>
            </div>
            <div class="feedCommentArea" id="feedCommentArea_<%=f._id%>">
                <%f.comments.map((c) => {%>
                <div class="feedCommentBox" id="<%=c._id%>">
                    <img class="feedCommentWriterProfile" src="<%=c.commentWriter.profilePhoto%>">
                    <span class="feedCommentWriterName"><%=c.commentWriter.name%></span>
                    <span class="feedCommentContents"><%=c.comment%></span>
                    <% if(f.feedWriter._id.toString() === user._id.toString()){%>
                        <img class="feedCommentDeleteBtn" src="images/close.png" onclick="deleteComment('<%=c._id%>')">
                    <%}%>
                </div>
                <% }) %>
            </div>
            <div class="feedCommentWriteArea">
                <form onsubmit="commentCreate('<%=f._id%>')">
                    <input type="text" id="commentInput_<%=f._id%>">
                    <button type="submit" class="btn-secondary">작성</button>
                </form>
            </div>
        </div>
        <%});%>
    </div>
</div>
<%- include('./feedModal.ejs')%>
</body>
</html>